{{template "header"}}
<h1>Your posts</h1>
<button id="change">Your posts</button>
<br />
<br />
{{if not .Posts}}
<span class="loading-icon">{{template "loader"}}</span>
{{end}}
<br />
<div class="posts-section">
    {{range $index, $element := .Posts}}
    {{template "post" $element}}
    {{else}}
    {{end}}
    <a href="http://localhost:8081/new"><button id="new">+</button></a>
</div>
<div id="pagination-button">
    <button class="pag" id="prev">&xlarr;</button><button class="pag" id="next">&xrarr;</button>
</div>
{{template "footer"}}

<style>
    #new {
        border-radius: 100px;
        background-color: blueviolet;
        font-size: 40px;
        width: 70px;
        height: 70px;
        position: fixed;
        right: 5%;
        bottom: 5%;
        cursor: pointer;
    }
    #new:hover {
        background-color: #5c3353;
        transition: 0.25s;
        font-size: 45px;
    }
    #pagination-button {
        text-align: center;
    }
    .pag:hover {
        background-color: #5c3353;
        transition: 0.25s;
        font-size: 21px;
    }
    #prev {
        border-radius: 10px 0 0 10px;
    }
    #next {
        border-radius: 0 10px 10px 0;
    }
    .pag {
        background-color: blueviolet;
        font-size: 20px;
    }
</style>
<script>
    window.onload = () => {
        change = document.getElementById("change");
        h1 = document.querySelector("h1")
        path = window.location.pathname.split("/")[1]
        change.innerHTML = "Check your drafts"
        h1.innerHTML = "Your posts"
        if (path == "drafts") {
            change.innerHTML = "Back to your posts"
            h1.innerHTML = "Your drafts"
        }
        change.addEventListener('click', switchRoute, false)
    }
    document.getElementById("prev").addEventListener('click', changePage.bind(null, "prev"), false)
    document.getElementById("next").addEventListener('click', changePage.bind(null, "next"), false)
    function switchRoute() {
        h1 = document.querySelector("h1").innerHTML;
        switch (h1) {
            case "Your posts":
            window.location.href = "http://localhost:8081/drafts"
                break
            case "Your drafts":
            window.location.href = "http://localhost:8081/"
                break
        }
    }
    async function changePage(bool) {
        newRouteParam = (parseInt('{{.NextPage}}') - 2).toString()
        if (bool == "next") {
            newRouteParam = (parseInt('{{.NextPage}}')).toString()
        }
        try {
            await fetch("http://localhost:8081" + window.location.pathname + "?page=" + newRouteParam ,{
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
            }).then(() => window.location.href = "http://localhost:8081" + window.location.pathname + "?page=" + newRouteParam);
        } catch(e) {
            console.log(e);
            console.log("Could not upload other posts.")
        }
    }
</script>