{{template "header"}}
<h1>Your posts</h1>
<button id="change">Your posts</button>
<div class="posts-section">
    {{range $index, $element := .}}
    {{template "post" $element}}
    {{end}}
    <a href="http://localhost:8081/new"><button id="new">+</button></a>
</div>
{{template "footer"}}

<style>
    #new {
        border-radius: 100px;
        background-color: blueviolet;
        font-size: 40px;
        width: 70px;
        height: 70px;
        position: fixed;
        right: 5%;
        bottom: 5%;
        cursor: pointer;
    }
    #new:hover {
        background-color: #5c3353;
        transition: 0.25s;
        font-size: 45px;
    }
</style>
<script>
    window.onload = () => {
        change = document.getElementById("change");
        h1 = document.querySelector("h1")
        path = window.location.pathname.split("/")[1]
        change.innerHTML = "Your posts"
        h1.innerHTML = "Your posts"
        if (path == "drafts") {
            change.innerHTML = "Your drafts"
            h1.innerHTML = "Your drafts"
        }
        change.addEventListener('click', switchRoute, false)
    }
    function switchRoute() {
        change = document.getElementById("change").innerHTML;
        h1 = document.querySelector("h1").innerHTML;
        switch (change) {
            case "Your posts":
            window.location.href = "http://localhost:8081/drafts"
                break
            case "Your drafts":
            window.location.href = "http://localhost:8081/"
                break
        }
    }
</script>