{{define "post"}}
<div class="post">
    <img onload="timeStamp('{{.Time}}')"  src="https://picsum.photos/100/100" />
    <a href="/modify/{{.PostId}}">
    <h3>{{.Title}}</h3>
    <span id="id">{{.PostId}}</span>
    {{if (eq .IsDraft true)}}
    <p>Draft</p>
    {{end}}
    <input type="text" id="{{.Time}}"/>
</a>
</div>
<style>
    .post {
        border-radius: 5px;
        border: 1px solid grey;
        padding: 10px;
        width: 20%;
        min-height: 100px;
    }
    #id, img {
        display: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    input {
        border: none;
        outline: none;
    }
    p {
        color: red;
    }
    @media screen and (max-width: 920px) {
    .post {
        width: 30%;
    }
}
</style>
<script>
    function timeStamp(time) {
        var date = new Date(time * 1000).toLocaleString("it-IT");
        document.getElementById(time).setAttribute("value", date);
    }
</script>
{{end}}